<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <figure class="highcharts-figure">
        <div id="container"></div>

</head>

<body>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "{{urlPath}}",
                dataType: "json",
                success: function (output) {
                    var years = [];
                    var matchesPlayed = [];
                    for (data in output) {
                        years.push([output[data].bowling_team, output[data].extra_runs__sum]);

                    }
                    var Xvalue = years;

                    console.log(Xvalue);

                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Extra runs conceded per team in the year 2016'
                        },
                        // subtitle: {
                        //     text: 'Source: <a href="https://worldpopulationreview.com/world-cities" target="_blank">World Population Review</a>'
                        // },
                        xAxis: {
                            type: 'category',
                            labels: {
                                rotation: -45,
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            },

                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Number of matches per year'
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        tooltip: {
                            pointFormat: 'Population in 2021: <b>{point.y:.1f} millions</b>'
                        },
                        series: [{
                            name: matchesPlayed,
                            data: years,
                            dataLabels: {
                                enabled: true,
                                rotation: -90,
                                color: '#FFFFFF',
                                align: 'right',
                                format: '{point.y:.1f}', // one decimal
                                y: 10, // 10 pixels down from the top
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            },
                        }

                        ]


                    });
                }

            });
        });

    </script>
</body>

</html>