<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    


    <figure class="highcharts-figure">
        <div id="container"></div>
</head>

<body>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "{{urlPath}}",
                dataType: "json",
                success: function (output) {
                    var years = [];
                    var no_of_match_winn = [];
                    for (data in output) {
                        years.push([output[data].season, output[data].winner]);
                        // matchesPlayed.push(output[data].season__count);
                        no_of_match_winn.push(output[data].no_of_matches_win_per_year)
                        // console.log(output[data])
                    }
                    var Xvalue = years;
                    var Yvalue = no_of_match_winn;
                    console.log(Xvalue);
                    console.log(Yvalue);

                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Number of matches played per year for all the years in IPL.'
                        },
                        // subtitle: {
                        //     text: 'Source: <a href="https://worldpopulationreview.com/world-cities" target="_blank">World Population Review</a>'
                        // },
                        xAxis: {
                            type: 'category',
                            labels: {
                                rotation: -45,
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            },
                            title: {
                                text: 'Year'
                                
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Number of matches per year'
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        tooltip: {
                            pointFormat: 'Population in 2021: <b>{point.y:.1f} millions</b>'
                        },
                        series: [{
                            name: Xvalue,
                            data: Yvalue,
                            dataLabels: {
                                enabled: true,
                                rotation: -90,
                                color: '#FFFFFF',
                                align: 'right',
                                format: '{point.y:.1f}', // one decimal
                                y: 10, // 10 pixels down from the top
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            },
                        }

                        ]


                    });
                }

            });
        });
    </script>

</body>

</html>